.container {
  max-width: 90%;
  margin: auto;
}

.block {
  margin-bottom: 15px;
  padding: 20px;
  border-radius: 8px;
  border: 1px solid rgb(234, 234, 234);
  background: rgb(248, 248, 248);
  transition: box-shadow 300ms ease 0s, transform 300ms ease 0s;
  text-decoration: none;
  color: #000000;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

img {
  max-width: 100%;
  max-height: 150px;
  margin-right: 20px;
}

.block:hover {
  box-shadow: black 2px 2px 5px -2px;
  transform: translate(-2px);
}

.text-center {
  text-align: center;
}

button,
select {
  border: 1px solid rgb(234, 234, 234);
  background: transparent;
  border-radius: 8px;
  padding: 10px 30px;
  margin: 10px 0;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
}

select {
  padding: 10px;
}

button:hover {
  background: rgb(248, 248, 248);
}

.head-block {
  position: relative;
}

.capitalize {
  text-transform: capitalize;
}